In [ ]:
import pandas as pd
import datetime

In [ ]:
cars=pd.read_csv("train.csv")

In [ ]:
cars.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

a) Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task. (4 points)

In [ ]:
cars.drop(cars.columns[0], axis=1, inplace=True)
cars.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [ ]:
missing = cars.isna().sum()
for column in missing.index:
    if missing[column] > 0:
        if cars[column].dtype == 'object':
            # Replace missing values with the mode (most common value), for categorical columns
            mode_value = cars[column].mode()[0]
            cars[column].fillna(mode_value, inplace=True)
        else:
            # Replace missing values with mean, for numerical columns
            mean_value = cars[column].mean()
            cars[column].fillna(mean_value, inplace=True)
cars.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50

(b)Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [ ]:
# Remove units from attributes
cars['Mileage'] = cars['Mileage'].str.replace('kmpl', '').str.replace('km/kg', '').astype(float)
cars['Engine'] = cars['Engine'].str.replace('CC', '').astype(float)
cars['Power'] = cars['Power'].str.replace('bhp', '').astype(float)
cars['New_Price'] = cars['New_Price'].str.replace('Lakh', '').str.replace('Cr', '').astype(float)

In [ ]:
cars.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,4.78,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,4.78,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,4.78,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,4.78,3.50

C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value. (4 points).

In [ ]:
cars= pd.get_dummies(cars, columns=['Fuel_Type', 'Transmission'])

In [ ]:
cars.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,1,0,0,0,1
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,1,0,0,0,1
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,1,0,0,1,0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,1,0,0,0,1

In [ ]:
current_year = datetime.datetime.now().year
cars['Current_Age'] = current_year - cars['Year']

In [ ]:
cars.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,1,0,0,0,1,9
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1,13
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,1,0,0,0,1,12
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,1,0,0,1,0,11
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,1,0,0,0,1,11

e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [ ]:
selection = cars[['Name', 'Year', 'Price']]#select
print(selection)

                                  Name  Year  Price
0     Hyundai Creta 1.6 CRDi SX Option  2015  12.50
1                         Honda Jazz V  2011   4.50
2                    Maruti Ertiga VDI  2012   6.00
3      Audi A4 New 2.0 TDI Multitronic  2013  17.74
4               Nissan Micra Diesel XV  2013   3.50
...                                ...   ...    ...
5842                  Maruti Swift VDI  2014   4.75
5843          Hyundai Xcent 1.1 CRDi S  2015   4.00
5844             Mahindra Xylo D4 BSIV  2012   2.90
5845                Maruti Wagon R VXI  2013   2.65
5846             Chevrolet Beat Diesel  2011   2.50

[5847 rows x 3 columns]

In [ ]:
filters = cars[cars['Location'] == 'Chennai']#filtered Data
print(filters)

                                        Name Location  Year  \
1                               Honda Jazz V  Chennai  2011
2                          Maruti Ertiga VDI  Chennai  2012
7             Tata Indica Vista Quadrajet LS  Chennai  2012
37     Volkswagen Polo Diesel Trendline 1.2L  Chennai  2013
52                  Hyundai Grand i10 Sportz  Chennai  2015
...                                      ...      ...   ...
5762         Maruti Swift Dzire VXI Optional  Chennai  2015
5764           Maruti Alto 800 2016-2019 LXI  Chennai  2016
5784                  Toyota Fortuner 4x4 AT  Chennai  2015
5786  Toyota Innova 2.5 GX (Diesel) 7 Seater  Chennai  2012
5827                   Tata Bolt Revotron XT  Chennai  2016

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
1                 46000      First    13.00  1199.0   88.70    5.0       8.61
2                 87000      First    20.77  1248.0   88.76    7.0       4.78
7                 65932     Second    22.30  1248.0   74.00    5.0       4.78
37                62000      First    22.07  1199.0   73.90    5.0       4.78
52                54000      Third    18.90  1197.0   82.00    5.0       4.78
...                 ...        ...      ...     ...     ...    ...        ...
5762              49900      First    20.85  1197.0   83.14    5.0       4.78
5764               5700      First    24.70   796.0   47.30    5.0       4.78
5784              95000      First    12.55  2982.0  168.50    7.0       4.78
5786              96000      First    12.99  2494.0  100.00    7.0       4.78
5827              10000      First    17.57  1193.0   88.70    5.0       7.77

      Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
1      4.50                 0                   0                 1
2      6.00                 1                   0                 0
7      1.95                 1                   0                 0
37     5.00                 1                   0                 0
52     3.60                 0                   0                 1
...     ...               ...                 ...               ...
5762   4.80                 0                   0                 1
5764   2.80                 0                   0                 1
5784  19.60                 1                   0                 0
5786  11.50                 1                   0                 0
5827   4.00                 0                   0                 1

      Transmission_Automatic  Transmission_Manual  Current_Age
1                          0                    1           13
2                          0                    1           12
7                          0                    1           12
37                         0                    1           11
52                         0                    1            9
...                      ...                  ...          ...
5762                       0                    1            9
5764                       0                    1            8
5784                       1                    0            9
5786                       0                    1           12
5827                       0                    1            8

[476 rows x 17 columns]

In [ ]:
cars_rename = cars.rename(columns={'New_Price': 'NewPriceofCAR'})#rename
cars_rename

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceofCAR,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,1,0,0,0,1,9
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1,13
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,1,0,0,0,1,12
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,1,0,0,1,0,11
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,1,0,0,0,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,7.88,4.75,1,0,0,0,1,10
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.78,4.00,1,0,0,0,1,9
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,4.78,2.90,1,0,0,0,1,12
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,4.78,2.65,0,0,1,0,1,11
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,4.78,2.50,1,0,0,0,1,13

In [ ]:
cars['Estimatedincrease'] =  cars['Price']*2
cars

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age,Estimatedincrease
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,1,0,0,0,1,9,25.00
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1,13,9.00
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,1,0,0,0,1,12,12.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,1,0,0,1,0,11,35.48
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,1,0,0,0,1,11,7.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,7.88,4.75,1,0,0,0,1,10,9.50
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.78,4.00,1,0,0,0,1,9,8.00
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,4.78,2.90,1,0,0,0,1,12,5.80
5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,4.78,2.65,0,0,1,0,1,11,5.30
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,4.78,2.50,1,0,0,0,1,13,5.00

In [ ]:
sorted_cars = cars.sort_values(by='Mileage', ascending=True)
sorted_cars#arrange

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age
186,Honda City 1.5 GXI,Ahmedabad,2007,60006,First,0.0,1197.0,74.00,5.286452,4.78,2.95,0,0,1,0,1,17
5225,Mercedes-Benz M-Class ML 350 4Matic,Ahmedabad,2012,66000,First,0.0,2987.0,165.00,5.000000,4.78,23.00,1,0,0,1,0,12
1309,Hyundai Santro Xing GL,Kochi,2011,20842,First,0.0,1086.0,62.00,5.000000,4.78,2.78,0,0,1,0,1,13
683,Mercedes-Benz M-Class ML 350 4Matic,Pune,2014,120000,First,0.0,2987.0,165.00,5.000000,4.78,30.00,1,0,0,1,0,10
723,Land Rover Range Rover 3.0 D,Mumbai,2008,55001,Second,0.0,1197.0,74.00,5.286452,4.78,26.50,1,0,0,1,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4017,Maruti Dzire VDI,Kochi,2017,54758,First,28.4,1248.0,73.75,5.000000,8.58,6.67,1,0,0,0,1,7
1703,Maruti Swift DDiS VDI,Pune,2008,150000,Second,28.4,1248.0,74.00,5.000000,4.78,2.70,1,0,0,0,1,16
4940,Maruti Dzire VDI,Hyderabad,2013,68434,First,28.4,1248.0,73.75,5.000000,9.14,5.50,1,0,0,0,1,11
2089,Maruti Swift VDI,Hyderabad,2013,84000,First,28.4,1248.0,74.00,5.000000,8.44,5.65,1,0,0,0,1,11
3767,Maruti Dzire VDI,Jaipur,2013,77084,First,28.4,1248.0,73.75,5.000000,8.75,4.95,1,0,0,0,1,11

In [ ]:
grouped_summary = cars.groupby('Year').agg(Average_MPG=('Mileage', 'mean'))
print(grouped_summary)

      Average_MPG
Year
1998    14.866667
1999    15.150000
2000    15.267500
2001    14.440000
2002    15.158333
2003    14.593750
2004    13.743704
2005    14.057955
2006    15.165942
2007    14.844811
2008    15.279264
2009    15.546528
2010    16.330818
2011    16.828176
2012    17.933244
2013    18.311125
2014    18.733929
2015    19.089891
2016    19.609114
2017    19.392990
2018    19.250816
2019    17.861584

In [ ]:
cars.to_csv('clean_cars.csv', index=False)